@(message: String)

@main("Welcome UwU"){
            <div class="Main">
                <div class="flex">
                    <div class="gamepanel">
                        Dog Miner 2
                        <br />
                        <a href="game1">
                            <img src="@routes.Assets.at("images/Game2.PNG")" width="150" height="130" />
                        </a>
                    </div>

                    <div class="gamepanel">
                        W4V3 V4P0R3
                        <br />
                        <a href="game2">
                            <img src="@routes.Assets.at("images/Game1.PNG")" width="150" height="130" />
                        </a>
                    </div>

                    <div class="gamepanel">
                        Snake
                        <br />
                        <a href="game3">
                            <img src="@routes.Assets.at("images/Game3.PNG")" alt="Trulli" width="150" height="130" />
                        </a>
                    </div>
                </div>

                <div class="flex">
                    <div class="gamepanel">
                        Slither
                        <br />
                        <a href="game4">
                            <img src="@routes.Assets.at("images/Game4.PNG")" width="150" height="130" />
                        </a>
                    </div>

                    <div class="gamepanel">
                        Learn To Fly
                        <br />
                        <a href="game5">
                            <img src="@routes.Assets.at("images/Game6.PNG")" alt="Trulli" width="150" height="130" />
                        </a>
                    </div>

                    <div class="gamepanel">
                        Learn To Fly 2
                        <br />
                        <a href="game6">
                            <img src="@routes.Assets.at("images/Game5.PNG")" alt="Trulli" width="150" height="130" />
                        </a>
                    </div>
                </div>

                <div class="flex">
                    <div class="gamepanel">
                        Learn To Fly 3
                        <br />
                        <a href="game7">
                            <img src="@routes.Assets.at("images/Game7.PNG")" alt="Trulli" width="150" height="130" />
                        </a>
                    </div>

                    <div class="gamepanel">
                        Bullet Force
                        <br />
                        <a href="game8">
                            <img src="@routes.Assets.at("images/Game8.PNG")" alt="Trulli" width="150" height="130" />
                        </a>
                    </div>

                    <div class="gamepanel">
                        Crazy Roll 3D
                        <br />
                        <a href="game9">
                            <img src="@routes.Assets.at("images/Game9.PNG")" alt="Trulli" width="150" height="130" />
                        </a>
                    </div>
                </div>

                <div class="flex">
                    <div class="gamepanel">
                        Bloons Tower Defence 5
                        <br />
                        <a href="game10">
                            <img src="@routes.Assets.at("images/Game10.PNG")" alt="Trulli" width="150" height="130" />
                        </a>
                    </div>

                    <div class="gamepanel">
                        RoofTop snipers
                        <br />
                        <a href="game11">
                            <img src="@routes.Assets.at("images/Game11.PNG")" alt="Trulli" width="150" height="130" />
                        </a>
                    </div>

                    <div class="gamepanel">
                        Air War 2
                        <br />
                        <a href="game12">
                            <img src="@routes.Assets.at("images/Game12.PNG")" alt="Trulli" width="150" height="130" />
                        </a>
                    </div>
                </div>

                <div class="flex">
                    <div class="gamepanel">
                        Chess
                        <br />
                        <a href="game13">
                            <img src="@routes.Assets.at("images/Game13.PNG")" alt="Trulli" width="150" height="130" />
                        </a>
                    </div>

                    <div class="gamepanel">
                        Impossible Quiz
                        <br />
                        <a href="game14">
                            <img src="@routes.Assets.at("images/Game14.PNG")" alt="Trulli" width="150" height="130" />
                        </a>
                    </div>

                    <div class="gamepanel">
                        Snow Ball
                        <br />
                        <a href="game15">
                            <img src="@routes.Assets.at("images/Game15.PNG")" alt="Trulli" width="150" height="130" />
                        </a>
                    </div>
                </div>
            </div>
}
